<!DOCTYPE html>
<html>
  <head>
    <title>Book Bay</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
    <body>
    <header>
        <nav>
            <ul>
                <li><a href="#"><span class="logo">Book Bay</span></a></li>
                <li><a href="#"><span class="fa fa-book" aria-hidden="true"></span>Home</a></li>
                <li><a href="#"><span></span>Discount</a></li>
                <li><a href="#"><span></span>Categories</a>
                    <ul>
                        <li><a href="#">Art</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Fiction</a></li>
                        <li><a href="#">Hobbies</a></li>
                        <li><a href="#">History</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="fa fa-user"></span>My account</a>
                    <ul>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Log In</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="fa fa-shopping-cart"></span>Orders</a></li>
                <li><form>
                        <input name="search" type="text" placeholder="Search">
                        <button  type="submit" class="fa fa-search"></button>
                    </form>
                </li>
        </nav>
    </header>
    <article class="highlight">
            <span class="fa fa-chevron-right circle"></span>
            <span class="fa fa-chevron-left circle"></span>
        <section class="highlight-review">
            <h2>What if</h2>
            <p><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"> Ben Goldacre, Rolling Stone</p>
            <p>serious scientific answers to absurd hypothetical questions.<a href="#">see full review</a></p>
        </section>
    </article>
    </body>
</html>

<section class="recommand">
    <h1>Editor's recommand</h1>
    <article class="review">
        <img class="review-image" src="cat.jpg" alt="A cute cat">
        <div class="review-text">
            <h2>Adorable Cat</h2>
            <p><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span> Somebody</p>
            <p>I don't what to search for real book reviews. Hence, I am going to keep it this way... <a href="#">see full review</a></p>
        </div>
    </article>
    <article class="review">
        <img class="review-image" src="cat.jpg" alt="A cute cat">
        <div class="review-text">
            <h2>Adorable Cat</h2>
            <p><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span> Someone</p>
            <p>I don't what to search for real book reviews. Hence, I am going to keep it this way... <a href="#">see full review</a></p>
    </div>
    </article>
</section>

<section class="hotest-authors">
    <h1>Hotest authors</h1>
        <div>
            <div class="author">
                <img src="hamster.jpg" alt="hamster">
                <h4>cute<br>hamster</h4>
            </div>
            <div class="author">
                <img src="hamster.jpg" alt="hamster">
                <h4>lazy<br>hamster</h4>
            </div>
            <div class="author">
                <img src="hamster.jpg" alt="hamster">
                <h4>Adorable<br>hamster</h4>
            </div>
            <div class="author">
                <img src="hamster.jpg" alt="hamster">
                <h4>fluffy<br>hamster</h4>
            </div>
        </div>
</section>

<footer>
    <section>
      <h3>Browse books</h3>
      <ul>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">A book</a></li>
        <li><a href="#">more...</a></li>
      </ul>
    </section>
    <section>
      <h3>Browse categories</h3>
      <ul>
        <li><a href="#">art</a></li>
        <li><a href="#">biology</a></li>
        <li><a href="#">comic</a></li>
        <li><a href="#">cooking</a></li>
        <li><a href="#">finance</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Hobby</a></li>
        <li><a href="#">poem</a></li>
        <li><a href="#">teenager</a></li>
        <li><a href="#">more...</a></li>
      </ul>
    </section>
    <section>
      <h3>Browse by rating</h3>
      <ul>
        <li><a href="#"><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-half-o"></span></a></li>
        <li><a href="#"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></a></li>
      </ul>
    </section>
    <section>
      <h3><span class="logo">inTRIPid</span></h3>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Advertising</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Our team</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
      <div class="social">
        <a href="#"><span class="fa fa-facebook-square"></span></a>
        <a href="#"><span class="fa fa-instagram"></span></a>
        <a href="#"><span class="fa fa-twitter-square"></span></a>
      </div>
    </section>
  </footer>
</body>
</html>
