@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@import url(https://fonts.googleapis.com/css?family=Karla);

* { box-sizing: border-box;}

$myRed:rgb(222, 31, 66);
$hoverRed:rgb(180, 31, 66);

h1, h2, h3{
  font-family: 'Crete Round';
}

h1{
    color: white;
    background-color: rgb(222, 31, 66);
    display: inline-block;
    padding: 5px 15px;
}

a {
    color: rgb(180, 31, 66);
    text-decoration: none;
    font-family: 'Karla';
}

nav{
    background-color: $myRed;
    margin-top: -10px;
    ul {
        background-color: $myRed;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        li {
            vertical-align: top;
            display: inline-block;
            ul {
                display: none;
                position: absolute;
                list-style: none;
                background-color: rgba(222, 31, 66, 0.6);
                padding: 0;
                li > a{
                    display: inline-block;
                    padding: 20px;
                    color: white;
                }
            }
            a{
                padding: 20px;
                color: white;
                text-decoration: none;
                font-family: 'Verdana, Geneva, sans-serif';
            }
        }
    }
}
a {
    color: $hoverRed;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: $hoverRed;
}

nav > ul > li:hover > ul {
    display: block;
    li:hover {
    background-color: rgba(180, 31, 66, 0.6);
    }
}

.logo{
    color: white;
    display: inline-block;
    font-family: 'Rock Salt';
    font-size: 16px;
    line-height: 16px;
}

.highlight{
    height: 600px;
    padding-top: 400px;
    background-image: url(what-if.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.highlight-review{
    margin: 0 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    height: 200px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
